body {
    color: #fe7b30;
    background: rgb(97, 96, 96);
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(251, 255, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(128, 9, 112);
}           
section {
    background: rgb(49, 48, 48)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
chamada-texto {
    margin-right: 6%;
}
